@import '@/styles/Mixins.scss';

.pokemon-list {

    .pokemon-list-container {
        gap: 20px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pokemon-command {
        width: 100%;
        display: flex;
        justify-content: center;

        .button-componenent-text {
            border-radius: $border-raduis-l;
            background: rgba(255, 255, 255, 0.7) !important;
            font-weight: 700 !important;

            .v-btn__content {
                color: black !important;
            }

            .v-btn__loader {
                color: yellow !important;
            }
        }
    }

}

// Media screen when the format is desktop
@media only screen and (min-width: 391px) {
    .pokemon-list {

        .pokemon-list-container {
            align-items: center;
        }
    }
}


@media only screen and (min-width: 710px) {
    .pokemon-list {

        .pokemon-list-container {
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 1031px) {
    .pokemon-list {

        .pokemon-list-container {
            margin: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}