@import '../../styles/ColorType.scss';

.pokemon-card {
    width: 301px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    .pokemon-image {
        img {
            width: 100%;
            height: 200px;
            object-fit: contain;
        }
    }

    .pokemon-details {
        .pokemon-description {
            text-decoration: none;
            padding: 0 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .pokemon-name {
                text-transform: capitalize;
            }
        }

        .pokemon-types {
            color: $color-text-types;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .pokemon-type {
                width: 100px;
                text-align: center;
                border-radius: 40px;
                text-transform: capitalize;
                font-weight: 450;

                @each $type in ('normal', 'fighting', 'flying', 'poison', 'ground', 'rock', 'bug', 'ghost', 'steel', 'fire', 'water', 'grass', 'electric', 'psychic', 'ice', 'dragon', 'dark', 'fairy') {
                    &-#{$type} {
                      @include pokemon-type-color($type);
                    }
                }
            }
        }
    }
}

