@import '@/styles/Mixins.scss';

html {
    height: 100vh;
    width: 100vw;
    background-color: black;

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: $border-raduis-s;
        background: rgba(255, 255, 255, 0.7);
    }

    ::-webkit-scrollbar {
        width: 12px;
        background: rgba(255, 255, 255, 0.7);
    }

    ::-webkit-scrollbar-thumb{
        border-radius: $border-raduis-s;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background: rgba(154, 154, 154, 0.5);
    }
}

.container {
    height: 100%;
    width: 100vw;
    padding: 40px 19px;
    background-image: url('@/assets/japanessbackgroundmobile.png'), url('@/assets/backgroundgradient.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;

    .main-content {
        margin: auto;
        padding: 30px 20px;
        background: rgba(170, 170, 170, 0.6);
        border-radius: $border-raduis-l;

        .header-container {
            width: 100%;
            gap: 10px;
            display: flex;
            align-items: center;
        }

        .separation {
            border: 1px solid #FFFFFF;
            margin-top: 20px;
        }
    }
}

// Media screen when the format is desktop
@media only screen and (min-width: 391px) {
    .container {
        background-image: url('@/assets/japanessbackground.jpg'), url('@/assets/backgroundgradient.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;

    }
}

@media only screen and (min-width: 1031px) {
    .main-content {
        width: 1000px;
    }
}